.profile-fullheader{
    
    
}
.profile-header{
    float: left;
    padding: 20px;
    border: 2px solid red;
    margin-right: 2rem;
}

.profile{
    height: 20rem;
    width: 20rem;
}

.profile-change{
    float: left;
    padding: 20px;
    border: 2px solid red;
}
.profile-input{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 20rem;
}
.profile-input1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    width: 20rem;

}

.delete_account,.submit_account{
    margin-right: 1rem;
}